# Environments
venv/ 
.env 

#Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Python cache
__pycache__/
*.py[cod]
*$py.class

#Jupyter Notebook checkpoints
.ipynb_checkpoints

